doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Dashboard
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    style.
      body{
      background-color: #ebeef0;
      overflow-y: hidden;
      }
      .userinfo{
      width: 350px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 250px;
      box-shadow: 0 8px 6px -6px black;
      }
      .upper{
      height:130px;
      background-color: #5fa2dd;
      }
      .lower{
      height:300px;
      background-color: #fff;
      }
      #avatar{
      position: absolute;
      top:95px;
      left:140px;
      border:4px solid white;
      border-radius: 500px;
      }
      .lower p{
      display: table;
      margin:auto;
      line-height:4em;
      }
      .lower p:nth-child(1){
      padding-top: 30px;
      }
  body
    .container.col-xs-offset-3.col-xs-6(style='margin-top: 50px;')
      h2(style='display: inline;') Welcome,#{user.firstName}
      a.btn.pull-right(href='http://localhost:3000/users/logout', style='background:transparent;border:1px solid black;color:black;') Logout
      hr(style='border-bottom: 1px solid black')
      .userinfo
        .upper
        #avatar
          img.img-responsive(width='60px', height='60px', src='https://image.flaticon.com/icons/svg/149/149072.svg')
        .lower
          p User Name:#{user.userName}
          p Name:#{user.firstName+" "+user.lastName}
          p Email:#{user.email}
          p Mobile:#{user.mobileNumber}
          p
            a.btn.pull-right(href='http://localhost:3000/users/products', style='margin-bottom: 10px;background-color: #25ae88;') View Products
